<ion-header>

  <ion-navbar>
    <ion-title>Take a' Seat</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="wrapper-logo">
      <ion-col>
        <ion-img class="img-logo" src="assets/imgs/logo.jpg" alt="Logo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="header-title">Lets connect your chair!</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="header-text">Enter the number which you can find on the bottom of the box</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div #code (click)="enterCode(code)" class="wrapper-code">
          <div class="line"></div>
          <div class="numbers"></div>
          <div class="numbers"></div>
          <div class="numbers"></div>
          <div class="numbers"></div>
          <div class="numbers"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Keyboard -->
  <ion-grid (click)="enterNumbers($event)" class="kb" *ngIf="showKeyboard">
    <ion-row>
      <ion-col>
        <div class="kb-num">
          <span>1</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>2</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>3</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="kb-num">
          <span>4</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>5</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>6</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="kb-num">
          <span>7</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>8</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>9</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="kb-num">
          <span></span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>0</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="kb-num">
          <span>
            <ion-icon name="arrow-round-back"></ion-icon>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
