page-login {

    .toolbar-background {
      background-color: color($colors, primary);
    }
  
    .toolbar-title-md {
      color: color($colors, light);
    }
  
    .wrapper-logo {
      text-align: center;
    }
  
    .img-logo {
      height: 200px;
      width: 200px;
    }
  
    .header-title {
      background: color($colors, Vblack);
      border-radius: 5px;
      color: white;
      padding: 1rem;
      font-size: 2.4rem;
      text-align: center;
    }
  
    .header-text {
      text-align: center;
    }
  
    .wrapper-code {
      display: flex;
      height: 100px;
      justify-content: space-around;
  
      .line {
        background: grey;
        border-radius: 10px;
        height: 10px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: -1;
      }
  
      .numbers {
        background: white;
        border: 2px black solid;
        font-size: 4rem;
        height: 100px;
        line-height: 90px;
        text-align: center;
        width: 50px;
      }
    }
  
    .kb {
      bottom: 0;
      padding: 0;
      position: absolute;
  
      .col {
        margin: 0;
        padding: 0;
      }
  
      .kb-num {
        display: flex;
        font-size: 2rem;
        height: 50px;
        margin: 0;
        padding: 0;
        width: 100%;
  
        span {
          align-self: center;
          justify-self: center;
          margin: auto;
        }
      }
    }
  }
  