<ion-tabs selectedIndex=1>
  <ion-tab [root]="tab1Root" tabTitle="Settings" tabIcon="md-cog"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Home" tabIcon="md-home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="info" tabIcon="md-information-circle"></ion-tab>
</ion-tabs>

