.modal {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  position: absolute;
  visibility: hidden;
  width: 100%;
  z-index: 99;
}

page-home {
  .toolbar-background-md {
    background: color($colors, Vblack);
  }

  .toolbar-title-md,
  .ion-md-menu {
    color: color($colors, Vwhite);
  }

  .wrapper-logo {
    @include img-logo;
  }

  .point-close {

    &::after {
      border-bottom: 4px solid transparent;
      border-left: 12px solid color($colors, primary);
      border-top: 4px solid transparent;
      content: '';
      display: block;
      height: 0;
      left: 5px;
      position: relative;
      top: 1px;
      width: 0;
    }
  }

  .point-open {

    &::after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 12px solid color($colors, primary);
      content: '';
      display: block;
      height: 0;
      left: 1px;
      position: relative;
      top: 5px;
      width: 0;
    }
  }

  .item-range {
    background: color($colors, dark);
  }

  .setting-m {
    margin: 2rem 0;
  }

  .setting-title {
    align-items: center;
    display: flex;

    h3 {
      font-size: 1.5rem;
      margin: 0 auto;
    }

    span {
      background: color($colors, primary);
      border-radius: 20px;
      color: color($colors, light);
      font-size: 1.3rem;
      padding: .6rem;

      span {
        font-size: 1.5rem;
        padding: 0;
      }
    }
  }

  .range-bar {
    border-radius: 10px;
  }

  .content-settings {
    background-color: color($colors, dark);
    display: none;
    margin-top: .3rem;
  }

  .radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }

  .radio-sub {
    input {
      &:checked {
        &~ .radio-dot:after {
          background: color($colors, primary);
          border-radius: 50%;
          content: "";
          display: block;
          height: 20px;
          margin: auto;
          width: 20px;
        }
      }
    }
  }

  .radio-input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  .radio-dot {
    background-color: none;
    border: 10px color($colors, primary) solid;
    border-radius: 50%;
    display: flex;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }

  .save-setting {
    span {
      align-content: center;
      color: color($colors, primary);
      display: flex;
      font-size: 3rem;
      justify-content: center;
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;

    :nth-child(-n+3) {
      color: color($colors, primary);
    }

    :nth-child(n+4) {
      color: color($colors, danger);
    }

    :nth-child(2) {
      font-size: 1.5rem;
    }

    :nth-child(3) {
      font-size: 1rem;
    }

    :nth-child(4) {
      font-size: 1rem;
    }

    :nth-child(5) {
      font-size: 1.5rem;
    }
  }


}
