<ion-header>
  <ion-toolbar>
    <ion-title>
      Functions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-title class="wrapper-logo">
      <ion-img class="img-logo" src="assets/imgs/logo.jpg"></ion-img>
    </ion-title>
    <ion-item>
      <div class="content-title">
        Functions
      </div>
      <div class="content-body" margin-horizontal (click)="switch($event)">
        <span class="dot point-close"></span>
        <h2 class="content-body-title">Ergonomic Settings</h2>
      </div>
      <div class="content-settings" padding margin-horizontal text-wrap>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Armrest height</h3>
            <span>{{armrestHeight}}cm</span>
          </div>
          <ion-item>
            <ion-range min="0" max="30" [(ngModel)]="armrestHeight" pin="true"></ion-range>
          </ion-item>
        </div>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Seat height</h3>
            <span>{{seatHeight}}cm</span>
          </div>
          <ion-item>
            <ion-range min="0" max="70" [(ngModel)]="seatHeight" pin="true"></ion-range>
          </ion-item>
        </div>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Back Angle Adjustment</h3>
            <span>{{backAngle}}
              <span>°</span>
            </span>
          </div>
          <ion-item>
            <ion-range min="0" max="180" [(ngModel)]="backAngle" pin="true"></ion-range>
          </ion-item>
        </div>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Leg support</h3>
            <span>{{legSupport}}
              <span>°</span>
            </span>
          </div>
          <ion-item>
            <ion-range min="90" max="180" [(ngModel)]="legSupport" pin="true"></ion-range>
          </ion-item>
        </div>
      </div>

      <!-- --------------------------------------------------------------------------- -->
      <div class="content-body" margin-horizontal text-wrap (click)="switch($event)">
        <span class="dot point-close"></span>
        <h2 class="content-body-title">Massage Functions</h2>
      </div>
      <div class="content-settings" padding margin-horizontal text-wrap>
        <div class="setting setting-m">
          <div class="setting-title">
            <h3>Upperback Massage Intensity</h3>
          </div>
          <div class="radio-group">
            <label class="radio-sub" text-center>Low
              <input class="radio-input" type="radio" name="upperMassageIntensity" value="low" [(ngModel)]="upperMassageIntensity" [checked]="upperMassageIntensity === low">
              <span class="radio-dot"></span>
            </label>
            <label class="radio-sub" text-center>Medium
              <input class="radio-input" type="radio" name="upperMassageIntensity" value="medium" [(ngModel)]="upperMassageIntensity" [checked]="upperMassageIntensity === medium">
              <span class="radio-dot"></span>
            </label>
            <label class="radio-sub" text-center>High
              <input class="radio-input" type="radio" name="upperMassageIntensity" value="high" [(ngModel)]="upperMassageIntensity" [checked]="upperMassageIntensity === high">
              <span class="radio-dot"></span>
            </label>
          </div>
        </div>
        <div class="setting setting-m">
          <div class="setting-title">
            <h3>Lowerback Massage Intensity</h3>
          </div>
          <div class="radio-group">
            <label class="radio-sub" text-center>Low
              <input class="radio-input" type="radio" name="lowerMassageIntensity" value="low" [(ngModel)]="lowerMassageIntensity" [checked]="true">
              <span class="radio-dot"></span>
            </label>
            <label class="radio-sub" text-center>Medium
              <input class="radio-input" type="radio" name="lowerMassageIntensity" value="medium" [(ngModel)]="lowerMassageIntensity">
              <span class="radio-dot"></span>
            </label>
            <label class="radio-sub" text-center>High
              <input class="radio-input" type="radio" name="lowerMassageIntensity" value="high" [(ngModel)]="lowerMassageIntensity">
              <span class="radio-dot"></span>
            </label>
          </div>
        </div>
        <div class="setting setting-m">
          <div class="setting-title">
            <h3>Legg Massage Intensity</h3>
          </div>
          <div class="radio-group">
            <label class="radio-sub" text-center>Low
              <input class="radio-input" type="radio" name="leggMassageIntensity" value="low" [(ngModel)]="leggMassageIntensity" [checked]="true">
              <span class="radio-dot"></span>
            </label>
            <label class="radio-sub" text-center>Medium
              <input class="radio-input" type="radio" name="leggMassageIntensity" value="medium" [(ngModel)]="leggMassageIntensity">
              <span class="radio-dot"></span>
            </label>
            <label class="radio-sub" text-center>High
              <input class="radio-input" type="radio" name="leggMassageIntensity" value="high" [(ngModel)]="leggMassageIntensity">
              <span class="radio-dot"></span>
            </label>
          </div>
        </div>
      </div>

      <!-- --------------------------------------------------------------------------- -->
      <div class="content-body" margin-horizontal text-wrap (click)="switch($event)">
        <span class="dot point-close"></span>
        <h2 class="content-body-title">Screen settings</h2>
      </div>
      <div class="content-settings" padding margin-horizontal text-wrap>
        <div class="setting">
          <div class="radio-group">
            <label class="radio-sub" text-center>Hide screen
              <input class="radio-input" type="radio" name="screen" [value]="false" [(ngModel)]="screen" [checked]="true">
              <span class="radio-dot"></span>
            </label>
            <label class="radio-sub">Show screen
              <input class="radio-input" type="radio" name="screen" [value]="true" [(ngModel)]="screen">
              <span class="radio-dot"></span>
            </label>
          </div>
          <div class="setting">
            <div text-center class="setting-title">
              <h3>Brightness</h3>
            </div>
            <ion-item>
              <ion-range min="0" max="100" [(ngModel)]="brightness"></ion-range>
            </ion-item>
          </div>
          <div class="setting">
            <div text-center class="setting-title">
              <h3>Contract</h3>
            </div>
            <ion-item>
              <ion-range min="0" max="100" [(ngModel)]="contract"></ion-range>
            </ion-item>
          </div>
          <div class="setting">
            <div text-center class="setting-title">
              <h3>Sharpness</h3>
            </div>
            <ion-item>
              <ion-range min="0" max="100" [(ngModel)]="sharpness"></ion-range>
            </ion-item>
          </div>
          <div class="setting">
            <div text-center class="setting-title">
              <h3>Gamma</h3>
            </div>
            <ion-item>
              <ion-range min="0" max="100" [(ngModel)]="gamma"></ion-range>
            </ion-item>
          </div>
        </div>
      </div>

      <div class="content-body" margin-horizontal (click)="switch($event)">
        <span class="dot point-close"></span>
        <h2 class="content-body-title">Temperature</h2>
      </div>
      <div class="content-settings" padding margin-horizontal text-wrap>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Upperback Temperature</h3>
          </div>
          <ion-item>
            <ion-range min="0" max="38" [(ngModel)]="upperTemp"></ion-range>
          </ion-item>
          <div class="icons">
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="flame"></ion-icon>
            <ion-icon name="flame"></ion-icon>
            <ion-icon name="flame"></ion-icon>
          </div>
        </div>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Lowerback Temperature</h3>
          </div>
          <ion-item>
            <ion-range min="0" max="38" [(ngModel)]="lowerTemp"></ion-range>
          </ion-item>
          <div class="icons">
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="flame"></ion-icon>
            <ion-icon name="flame"></ion-icon>
            <ion-icon name="flame"></ion-icon>
          </div>
        </div>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Legg Temperature</h3>
          </div>
          <ion-item>
            <ion-range min="0" max="38" [(ngModel)]="leggTemp"></ion-range>
          </ion-item>
          <div class="icons">
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="snow"></ion-icon>
            <ion-icon name="flame"></ion-icon>
            <ion-icon name="flame"></ion-icon>
            <ion-icon name="flame"></ion-icon>
          </div>
        </div>
      </div>

      <div class="content-body" margin-horizontal (click)="switch($event)">
        <span class="dot point-close"></span>
        <h2 class="content-body-title">Audio options</h2>
      </div>
      <div class="content-settings" padding margin-horizontal text-wrap>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Global Volume</h3>
          </div>
          <div class="range-slider">
            <ion-item>
              <ion-range min="1" max="10" [(ngModel)]="globalVolume"></ion-range>
            </ion-item>
          </div>
        </div>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Trebble</h3>
          </div>
          <div class="range-slider">
            <ion-item>
              <ion-range min="1" max="10" [(ngModel)]="trebble"></ion-range>
            </ion-item>
          </div>
        </div>
        <div class="setting">
          <div text-center class="setting-title">
            <h3>Bass Intensity</h3>
          </div>
          <div class="range-slider">
            <ion-item>
              <ion-range min="1" max="10" [(ngModel)]="bassIntensity"></ion-range>
            </ion-item>
          </div>
        </div>
      </div>

      <div class="content-body" margin-horizontal (click)="switch($event)">
        <span class="dot  point-close"></span>
        <h2 class="content-body-title">Profiles</h2>
      </div>
      <div class="content-settings" padding margin-horizontal text-wrap>
        <div class="radio-group">
          <label *ngFor="let setting of settingsArray" class="radio-sub">{{setting.name}}
            <input class="radio-input" type="radio" name="setting" value="{{setting.name}}" [checked]="setting.name === name" (ngModelChange)="update()"
              [(ngModel)]="currentSetting">
            <span class="radio-dot"></span>
          </label>
          <label class="radio-sub save-setting">Save current setting
            <!-- <input class="radio-input" type="radio" [checked]="false"> -->
            <span class="radio-dot" (click)="showModal()"><ion-icon name="md-add"></ion-icon></span>
          </label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<div class="modal">
  <form [formGroup]="formGroup" (ngSubmit)="saveSetting(formGroup.value)">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" name="name" formControlName="name" required></ion-input>
    </ion-item>
    <button ion-button type="submit" [disabled]="!formGroup.valid">Save Note</button>
  </form>
</div>
