<ion-header>
  <ion-toolbar>
    <ion-title>
      info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-title class="wrapper-logo">
    <ion-img class="img-logo" src="assets/imgs/logo.jpg"></ion-img>
  </ion-title>
  <ion-item>
    <div class="content-title">
      Info
    </div>
    <div class="content-body" padding margin-horizontal text-center >
      <h2 class="content-body-title">About us</h2>
      <p text-wrap>
        We from “Take A Seat” strive to give you the ultimate experience that a chair is possible to deliver.
        We are a young innovative company who are always open for new idea’s, so do not hesitate to contact us.
      </p>
    </div>
    <div class="content-body" padding margin-horizontal text-center >
        <h2 class="content-body-title">Contact</h2>
        <div>
          <p>info@takeaseat.com</p>
          <p>0800 5353</p>
          <p>The Netherlands</p>
          <p>Kalverstraat 34B</p>
          <p>Amsterdam</p>
        </div>
      </div>
  </ion-item>
</ion-list>
</ion-content>
