<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-title class="wrapper-logo">
      <ion-img class="img-logo" src="assets/imgs/logo.jpg"></ion-img>
    </ion-title>
    <ion-item>
      <div class="content-title">
        Settings
      </div>
      <div class="content-body" margin-horizontal (click)="logout()">
        <span class="dot"></span>
        <h2 class="content-body-title">Disconnect Chair</h2>
      </div>
      <div class="content-body" margin-horizontal (click)="reset()">
        <span class="dot"></span>
        <h2 class="content-body-title">Reset all saved settings</h2>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
