page-settings {
    .toolbar-background-md {
      background: color($colors, Vblack);
    }
  
    .toolbar-title-md,
    .ion-md-menu {
      color: color($colors, Vwhite);
    }
  
    .wrapper-logo {
      @include img-logo;
    }
  }
  