$font-path: '../assets/fonts';
$app-direction: ltr;

@import 'ionic.globals';

$colors: (
  primary:    #134a9b,
  danger:     #991434,
  dark:       #c9c9c9,
  light:      #e5e5e5,
  Vwhite:      #fff,
  Vblack:      #000
);
@mixin img-logo {
  text-align: center;

  .img-logo {
    height: 140px;
    margin: .3rem;
    width: 140px;
  }
}
@import 'ionic.theme.default';
@import 'ionic.ionicons';
@import 'roboto';
@import 'noto-sans';

// The point of the range (thing you slide)
$range-md-knob-background-color: color($colors, primary);
$range-md-knob-min-background-color: $range-md-knob-background-color;
$range-md-knob-min-border: $range-md-knob-background-color;

// the line of the range
$range-md-bar-background-color: color($colors, Vblack);
$range-md-bar-height: 10px;
// the pin
$range-md-pin-min-background-color: $range-md-knob-background-color;
