.content-title {
    background: color($colors, Vblack);
    border-radius: 10px;
    color: color($colors, Vwhite);
    font-size: 2rem;
    padding: .8rem;
    text-align: center;
  }
  
  .content-body {
    background-color: color($colors, light);
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: .2rem;
    padding: 1rem;
  
    .dot {
      align-self: center;
      background-color: color($colors, primary);
      border-radius: 50%;
      height: 10px;
      width: 10px;
    }
  
    .content-body-title {
      display: flex;
      margin: auto;
    }
  
    p {
      font-size: 1.2rem;
    }
  }
  
  .tabs-md {
  
    .tab-button[aria-selected='true'] {
      color: color($colors, Vblack);
  
      .tab-button-icon {
        color: color($colors, Vblack);
      }
    }
  }
  